<!DOCTYPE html>
<html>
  <head>
    <title>Nightlife Coordination App</title>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/queries.css">
  </head>
  <body>
    <div class="col span-1-of-2">
      <div class="form">
        <h3 class="join">Join the Nightlife App Community</h3>
        <form action="/signup" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" required><br>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required><span id="warning"></span>
          <br><button type="submit" class="btn btn-signup">Sign Up</button>
        </form>
      </div>
    </div>
    <div class="col span-1-of-2">
      <div class="form">
        <h3 class="member">Already a member?</h3>
        <form action="/signin" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" required><br>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required>
          <br><button type="submit" class="btn-submit">Sign In</button>
        </form>
      </div>
    </div>
  </body>
</html>
