<!DOCTYPE html>
<html>
  <head>
    <title>Nightlife Coordination App</title>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h3>Sorry, an error occurred: <%= err %></h3>
  </body>
</html>
