<!DOCTYPE html>
<html>
  <head>
    <title>Nightlife Coordination App</title>
    <link rel="stylesheet" type="text/css" href="/grid.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/queries.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <a href="/logout" class="logout"><%= logout %></a>
      <div class="text-box">
        <h1>Nightlife Coordination App</h1>
        <h2>Hopefully this helps.</h2>
        <form id="search-form">
          <input id="input" name="location" type="text" placeholder="Search for bars in you area">
          <button id="search" type="submit" class="btn btn-submit">Search</button>
        </form>
      </div>
    </header>
    <ul class="list">
    </ul>
    <script src="/app.js"></script>
  </body>
</html>
